body{
    font-family: 'Montserrat' , sans-serif;
    overflow-x: hidden ;
}
/*imagenes*/

.carousel-inner{
    width: 100%;
    height: 600px;
}

#centro{
    width: 400px;
    margin: 0px auto;
}
/*imagenes*/

.carousel-inner{
    max-height: 39rem;
}

/* para la pantalla pequeña*/

@media (max-width: 768px){
    #intro{
        width: 90% !important;
    }
}
#galeria img{
    width: 100%;
}





